header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    color: #fff;
    font-size: 18px;
}
.scrollDown{
    transform: translateY(-80px);
}

header>div {
    height: 80px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb{
    display: flex;
}
.gnb li{
    cursor: pointer;
    padding: 15px 30px;
    /* border: 1px solid red; */
}
.gnb li.active {
    border-bottom: 2px solid gold;
    color: gold;
    font-weight: bold;
}
.active {
    border-bottom: 2px solid gold;
    color: gold;
    font-weight: bold;
}